# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
megaphone
phonebook
program
zombies
horde
brain
violence
harl
harlFilter
fixed
claptrap
scavtrap
fragtrap
diamondtrap
animal
brain
abstract
materia
bureaucrat
form
moreforms
intern

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Test files
*_shrubbery
19920104_091532.log
cpp_module_07/main.cpp
cpp_module_09/data.csv

# debug information files
*.dwo

#vscode
.vscode/

# Project miscellaneous
.build/